snippet patents "专利主题整理" b

# 专利主题

## 相关专利

### 专利 1

-   相关链接

## 工程应用

-   相关链接

## 创新

### 背景

> 描述背景知识, 说明需要解决的问题

### 普通思路

> 1. 罗列通常解决问题的思路
> 1. 说明普通思路的优缺点

### 创新思路

> 描述解决问题的新思路

### 创新之处

> 描述创新之处

1. 创新 1
1. 创新 2

### 优点

### 缺点

> 1. 缺点是什么
> 1. 能否深入解决？形成新的专利

## 专利书写

endsnippet

snippet patentswork "专利工作流程" b
1. 专利 1:
    - 确定主题
    - 收集资料
    - 书写专利
    - 每日修改
    - 提交法务
endsnippet
