
snippet recent  "最近事务" b
# `date +%Y-%m-%d`~$1 最近事务

## 工作

### 1. 重要 & 紧急

1. $2 target / do something
    - action1
    - action2

### 2. 重要 & 不紧急

### 3. 不重要

## 家庭

### 1. 重要 & 紧急

### 2. 重要 & 不紧急

### 3. 不重要
endsnippet
