
snippet recenthome  "最近家庭事务" b
# `date +%Y-%m-%d`~$1 最近家庭事务

## 1. 重要 & 紧急

1. $0 target / do something
    - action1
    - action2


## 2. 重要 & 不紧急

## 3. 不重要

endsnippet

snippet recentwork  "最近工作事务" b
# `date +%Y-%m-%d`~$1 最近工作事务

## 1. 重要 & 紧急

1. $0 target / do something
    - action1
    - action2


## 2. 重要 & 不紧急

## 3. 不重要

endsnippet
