
snippet workana "产品需求分析"
# 产品需求分析

## 1. 资源

-   UE
-   UI
-   总计划

### 走查

-   产品走查
-   UI 走查

### 测试

-   提测
-   自测 case

## 2. 开发进展

-   预计 xx-xx 提测

## 3. 模块划分及开发时间评估

### 公共模块

1. 模块 A
1. 模块 B

### 页面 A

1. 模块 A
1. 模块 B

## 4. 问题与风险

1. 存在的问题及风险
    - 可能的解决方式

## 5. 其他
endsnippet


snippet workweekly "工作周报"
# `date +%Y-%m-%d`工作周报

## 上周工作

### 1. 重要&紧急

1. TODO

### 2. 重要&不紧急

1. TODO

### 3. 不重要/不紧急

## 本周安排

### 1. 重要&紧急

1. TODO

### 2. 重要&不紧急

1. TODO

### 3. 不重要/不紧急
endsnippet
