
snippet workana "产品需求分析"
# 产品需求分析

## 资源

-   UE
-   UI

### 测试

-   提测
-   自测 case

## 开发进展

-   预计 xx-xx 提测

## 模块划分及开发时间评估

### 公共模块

1. 模块 A
1. 模块 B

### 页面 A

1. 模块 A
1. 模块 B

## 问题与风险

1. 存在的问题 A，可能的解决方式及风险

## 其他
endsnippet


snippet workweekly "工作周报"
# `date +%Y-%m-%d`工作周报

## 上周工作

1. TODO

## 本周安排

1. TODO
endsnippet
